*{
    padding:0; margin:0; list-style:none; /*font-family: "Microsoft Yahei","Helvetica Neue", "PingFang SC",  Arial, Verdana, sans-serif;*/  font-size: 14px; /*font-family: "SF Pro SC", "SF Pro Display", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;*/ font-family: "SF Pro SC", "SF Pro Display", "SF Pro Icons", "PingFang SC", "Helvetica Neue","Microsoft Yahei", "Helvetica", "Arial", sans-serif; -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
html,body{ 
    width:100%; height:100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; /*min-width: 1300px;*/
}
button, input, select, textarea{ 
    border:0; border:none; outline:none; background:transparent;
}
input[type="submit"],input[type="reset"],input[type="button"],input{
    -webkit-appearance:none; resize: none;
}
img{
    margin:0; padding:0; border:0; border:none;
}
a{
    text-decoration: none;
}
a:link, a:visited {
    text-decoration: none;
}

.faq_screen{
    width: 100%; height: 150px; background: url(../images/first_screen_bg.jpg) no-repeat; background-size: cover; background-position: center;
}
.faq_home{
    color: #fff; position: absolute; top: 10px; right: 90px; text-decoration: underline;
}
.faq_language{
    color: #fff; position: absolute; top: 10px; right: 20px; text-decoration: underline;
}

.descqq{
    font-size: 22px;color: #444; font-weight: bold; text-align: left; line-height: 48px;
}
.descqqsub{
    font-size: 16px;color: #444; font-weight: bold; text-align: left; line-height: 40px;padding-top: 10px;
}
.descsub{
    font-size: 14px; font-style: italic;padding: 5px 10px 5px 50px;
}
.descweixin{
    width: 80px;
    top: -40px;
    margin-top: -60px;
    margin-left: 60px;
}
.sub_tit{
    font-size: 20px; text-align: center; margin:30px auto 40px; color: #444; letter-spacing: 0.5px; font-weight: bold;
}

.fea_list span{
    width: 90%; margin:0 auto; display: block; color: #4c4c4c;  letter-spacing: 1px; text-align: justify;
} 
.fea_list li{
    margin-bottom: 20px;
}
.desc{
    font-size: 14px;  
}

.wrap{
    
}
.header{
    width: 100%; height:65px; margin:0 auto; /*overflow: hidden;*/ position: fixed; top: 0; left:0; padding:0 15%; box-sizing:border-box; transition: all 0.5s ease 0s; color: #fff;
}
.header.active{
    background: #0c1726;
}
.logo{
    width: 110px;
}
.logo img{
    width: 110px; margin-top: 10px;
}
.nav{
    float: right; /*overflow: hidden;*/
}
.nav li{
    float: left; color: #fff; width: auto; padding:0 20px; text-align: center; line-height: 65px;
}
.nav li a{
    padding:0 10px; height: 65px; display: block; cursor: pointer; color: #fff;
}
.nav li.current a{
    color: #68c1e6; height: 60px; width: auto; padding:0 10px; display: block; border-bottom: 2px solid #68c1e6; margin:0 auto;
}
.lan_list{
    position: absolute; top: 60px; z-index: 10; right:0; width: 120px; background: #0c1726; display: none;
}
.lan_list li{
    color: #fff; float: none; height: 40px; line-height: 40px; border-bottom: 1px solid #333; cursor: pointer;
}
.first_screen{
    width: 100%; height: 600px; background: url(../images/first_screen_bg.jpg) no-repeat; background-size: cover; background-position: center;
}
.main{
    width: 900px; margin:0 auto;
}
h1{
    color: #fff; font-size: 75px; letter-spacing: 10px; text-align: center; margin:0 auto -10px; padding-top: 40px;
}
h2{
    color: #fff; font-size: 28px; letter-spacing: 2px; text-align: center; font-weight: normal; margin-bottom:120px; margin-top: 60px;
}
h3{
    color: #fff; font-size: 13px; text-align: center; font-weight: normal; letter-spacing: 0.5px; margin-bottom: 5px;
}
.btn_box{
    width: 450px; overflow: hidden; margin:60px auto 0;
}
.btn_box button{
    width:180px; height: 40px; border-radius: 6px; border:1px solid #fff; color: #fff; transition: all 0.5s ease 0s; cursor: pointer; float: left; font-size: 14px;
}
.btn_box button:nth-child(2){
    float: right;
}
.btn_box button:hover{
    border:1px solid #68c1e6; background: #68c1e6; 
}


/*特性*/
.features_part{
    width: 100%;  background: #fff; padding-top: 60px; padding-bottom: 60px;
}
.part_tit{
    width: 30%!important; max-width: 500px!important; margin:0 auto; display: block;
}
.fea_main{
    width: 900px; margin:80px auto; 
}
.font_desc,.img_desc{
    float: left; width: 270px;
}

.font_desc p{
    height: 200px; padding:0 10px; transition: all 0.5s ease 0s;
}
.font_desc p.current u{
    color: #00519e;
}
.font_desc p.current span{
    color: #00519e;
}
.font_desc p:hover u{
    color: #00519e;
}
.font_desc u{
    color: #; text-decoration: none; display: block; font-size: 16px; line-height: 30px; margin-bottom: 5px;
}
.font_desc span{
    color: #333; font-size: 12px; cursor: pointer;
}
.img_desc{
    padding:0 10px; box-sizing:border-box; width: 360px;
}
.img_desc img{
    display: none; width: 100%; margin-top: 80px;
}
.img_desc img.current{
    display: block;
}






/*内容结构*/
.content_part{
    width: 100%; height: auto; background: #ededed;
}
.bg_pic{
    width: 100%;
}
.content_pic{
    width: 20%; display: block; margin:50px auto;
}
.content_part p{
    font-size: 18px; text-align: center; margin:0 auto 20px;
}
.content_part p:nth-child(4){
    font-size: 13px; line-height: 20px; margin-bottom: 0;
}


/**/
.scene_part{
    width:100%; height:650px; background:url(../images/scene_bg.png) no-repeat; background-size: cover; background-position: center; padding-top: 60px; box-sizing:border-box;
}
.scene_part .content_pic{
    width:40%; margin-top: 60px; max-width: 700px;
}


/**/
.history_part{
    width: 100%; height: 900px; background:url(../images/history_bg.png) no-repeat; background-size: 80%; background-position:center;  margin-top: 100px; padding-bottom: 50px;
}
.history_part .content_pic{
    height: 100%; width: auto; margin:20px auto;
}

/*创始团队*/
.team_part{
    width: 100%; height: auto; padding-top: 40px; margin-bottom: 40px;
}
.team_list{
    width: 800px; margin:70px auto; overflow: hidden;
}
.team_list li{
    float: left; width: 20%; padding:0 20px; box-sizing:border-box;
}
.team_list li img{
    width:100%;
}
.team_list li p{
    text-align: center; color: #191919; font-size: 16px; margin-top:10px;
}
.team_list li span{
    text-align: center; display: block; width: 100%; color: #5b5b5b; font-size: 14px; line-height: 30px;
}


/*顾问*/
.adviser_part{
    width: 100%; height: auto; padding-top: 40px; padding-bottom: 40px;
}
.adviser_list{
    width: 800px; margin:50px auto; overflow: hidden;
}
.adviser_list li{
    float: left; width: 26.666%; /*padding:20px 20px 0;*/ box-sizing:border-box; border:1px solid #1266a6; margin:0 5%;
}
.adviser_list li:nth-child(1){
    margin-left:0;
}
.adviser_list li:nth-child(3){
    margin-right:0;
}
.adviser_list li img{
    width:90%; margin:15px 5% 0;
}
.adviser_list li p{
    text-align: center; color: #191919; font-size: 16px; margin-top:5px; padding-bottom: 5px; border-bottom: 1px solid #00519e;
}
.adviser_list li span{
    overflow: hidden; display: block;
}
.adviser_list li span a:nth-child(1){
    width:calc(100% - 24px); text-align: center; display: block; color: #5b5b5b; font-size: 12px; line-height: 30px; float: left;
}
.adviser_list li span a:nth-child(2){
    width: 24px; height: 30px; background: #00519e; float: right;
}


/**/
.cooper{
    width: 100%; height: auto; background: #ededed; padding-top: 60px; padding-bottom: 30px;
}
.cooper_list{
    overflow: hidden; width: 900px; margin:30px auto 0;
}
.cooper_list li{
    width: 16.6666%; float: left; 
}
.cooper_list li img{
    width: 100%;
}
/*联系我们*/
.contact_part{
    width: 100%; height: auto; padding-top: 60px; position: relative;
}
.contact_list{
    overflow: hidden; margin:60px auto;
}
.contact_list a{
    float: left; width: 40px; margin:10px;
}
.contact_list a img{
    width: 100%;
}
.weichat_code{
    position: absolute; width: 160px; top: 90px; opacity: 0; 
}
.weichat_code.current{
    opacity: 1;
}
.footer{
    padding-bottom: 20px; margin-top: 60px;
}
.footer p{
    text-align: center;
}


