*{
    padding: 0; margin: 0; list-style: none; font-family: 'PingFangSC','helvetica neue','hiragino sans gb','arial','microsoft yahei ui','microsoft yahei','simsun','sans-serif'!important; border:0; -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
input[type="submit"],input[type="reset"],input[type="button"],input{
        -webkit-appearance:none; resize: none;
}


body,html{
    height: 100%;
}

.first_screen{
    width: 100%; height: 100%; background: url(../images/phone_first_bg.jpg) no-repeat; background-size: cover; background-position: center;
}
.faq_home{
    color: #fff; position: absolute; top: 10px; right: 100px; text-decoration: underline;
}
.faq_language{
    color: #fff; position: absolute; top: 10px; right: 20px; text-decoration: underline;
}
h1{
    color: #fff; font-size: 60px; letter-spacing: 6px; text-align: center; margin:0 auto; padding-top: 100px; font-weight: normal;
}
h2{
    color: #fff; font-size: 22px; letter-spacing: 2px; text-align: center; font-weight: normal; margin-bottom:180px; margin-top: 100px;
}
h3{
    color: #fff; font-size: 16px; text-align: center; font-weight: 200; letter-spacing: 1.5px; margin-bottom: 5px;
}
.btn_box{
    width: 330px; overflow: hidden; margin:70px auto 0;
}
.btn_box button{
    width:150px; height: 45px; border-radius: 6px; border:1px solid #fff; color: #fff; transition: all 0.5s ease 0s; cursor: pointer; float: left; font-size: 16px; background: transparent;
}
.btn_box button:nth-child(2){
    float: right;
}
.first_screen span{
    color: #fff; position: absolute; top: 10px; text-decoration: underline;
}

.sub_tit{
    font-size: 20px; text-align: center; margin:30px auto 40px; color: #444; letter-spacing: 0.5px; font-weight: bold;
}
.fea_list{

}
.fea_list li{
    margin-bottom: 50px;
}
.fea_list p{
    font-size: 18px; color: #444; font-weight: bold; text-align: center;
}
.fea_list img{
    width: 90%; display: block; margin:20px auto ;
}
.fea_list span{
    font-size: 16px; width: 90%; margin:0 auto; display: block; color: #4c4c4c;  letter-spacing: 1px; text-align: justify;
} 



.content_part{
    padding-bottom: 30px;
}
.content_part img{
    width: 90%; display: block; margin:30px auto;
}
.content_part p{
    font-size: 17px; text-align: center; margin:30px auto; color: #333;
}
.content_part span{
     width: 90%; margin:0 auto; display: block; text-align: justify; color: #4c4c4c; letter-spacing: 1px;
}


.scene_part{
    width: 100%; height: 650px; background: url(../images/phone_scene_bg.png) no-repeat; background-size: cover; padding-top: 10px;
}
.scene_part .sub_tit{
    color: #fff; margin-bottom: 10px; font-weight: normal;
}
.scene_list{
    overflow: hidden; margin-top: 30px;
}
.scene_list li{
    width: 50%; float: left; text-align: center; margin-bottom: 30px;
}
.scene_list li img{
    width: 30%; display: block; margin:10px auto; 
}
.scene_list li p{
    text-align: center; color: #fff;
}

.history img{
    width: 100%;
}
.contact_part{
    width: 100%; height: auto; padding-top: 60px;
}
.contact_list{
    overflow: hidden; margin:-20px auto 0;
}
.contact_list a{
    float: left; width: 40px; margin:10px;
}
.contact_list a img{
    width: 90%; display: block; margin:0 auto;
}
.weichat_code{
    width: 120px; display: none; margin:20px auto 0;
}
.weichat_code.current{
    display: block;
}
.footer{
    padding-bottom: 20px; margin-top: 60px;
}
.footer p{
    text-align: center; font-size: 12px;
}

@media only screen and (max-width: 375px){
    h1{
        font-size: 50px;
    }
    h2{
        margin:90px 0 150px; font-size: 20px;
    }
    .btn_box{
        width: 310px; margin:50px auto 0;
    }
    .btn_box button{
        width: 150px;
    }
    .sub_tit{
        margin:30px auto;
    }
    .scene_part{
        height: 590px;
    }
    .scene_list{
        margin-top: 30px;
    }
    .scene_list li{
        margin-bottom: 30px;
    }
    .scene_list li img{
        width: 25%;
    }
    .scene_list li p{
        font-size: 13px;
    }
}

@media only screen and (max-width: 320px){
    h1{
        font-size: 40px;
    }
    h2{
        margin:50px 0 100px; font-size: 18px;
    }
    h3{
        font-size: 14px;
    }
    .btn_box{
        width: 290px; margin:50px auto 0;
    }
    .btn_box button{
        width: 140px;
    }
    .sub_tit{
        margin:30px auto;
    }
    .scene_part{
        height: 560px;
    }
    .scene_list{
        margin-top: 30px;
    }
    .scene_list li{
        margin-bottom: 30px;
    }
    .scene_list li img{
        width: 25%;
    }
    .scene_list li p{
        font-size: 13px;
    }
    .contact_part{
        padding-top: 0px;
    }
}





